<div class="modal-content" id="cancel-modal">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title text-center"><i class="ion-android-cancel modal-icon cancel"></i> Confirm cancellation</h4>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to cancel your enrolment application?</p>
	</div>
	<div class="modal-footer">
		<div class="col-sm-4">
			<button class="btn btn-default btn-block nice-btn ghost-default" type="button" ng-click="ok()">Yes - please cancel</button>
		</div>
		<div class="col-sm-4">
			<button class="btn btn-default" type="button" ng-click="save()">Save my application</button>
		</div>
		<div class="col-sm-4">
			<button class="btn btn-success btn-block nice-btn" type="button" ng-click="cancel()">No</button>
		</div>
	</div>
</div>