<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Great work!</h4>
    </div>
    <div class="modal-body">
        <p>Your application has been successfully submitted. Your consultant will get in touch with you shortly.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="dashboard()">Go to my dashboard</button>
    </div>
</div>