<div class="main-app-wrapper" ng-class="{'nav-open':ctrl.toggleNavFlag}">
	<div class="hamburger-menu-icon">
		<button class="menu-icon-btn" ng-click="ctrl.toggleNav()">
			<span class="menu-icon-bar"></span>
		</button>
	</div>
	<div class="nav-side">
		<div ng-include src="'/views/header.html'"></div>
	</div>
	<div class="content-side">
		<div class="container-fluid">
			<div class="nav-header-bar">
				<!--				<span class="">Some stuff will go here!</span>-->
			</div>
			<div class="body-content">
				<ui-view></ui-view>
			</div>
		</div>
	</div>
</div>