<!--<div ng-include src="'/views/header.html'"></div>-->
<div class="app-wrapper">
	<section id="application-steps">
		<div class="container">
			<div class="row" id="multi-step-nav-container">

				<!--
				<div id="steps-nav">
					<ul class="step-nav-vertical cf">
						<li class="list-group-item"><a href="#" ui-sref=".selectCourse" ui-sref-active="active-step" class="btn"><i class="icon ion-university" ng-disabled="true"></i> Course</a></li>
						<li class="list-group-item"> <a href="#" ui-sref=".completeDetails" ui-sref-active="active-step" class="btn"><i class="icon ion-android-person" ng-disabled="true"></i> Personal Details</a></li>
						<li class="list-group-item"> <a href="#" ui-sref=".upload" ui-sref-active="active-step" class="btn"><i class="icon ion-upload" ng-disabled="true"></i> Uploads</a></li>
						<li class="list-group-item"><a href="#" ui-sref=".declaration" ui-sref-active="active-step" class="btn"><i class="icon ion-ios-checkmark" ng-disabled="true"></i> Declaration &amp; Send</a></li>
					</ul>
				</div>
-->

				<!--    <div class="multi-step">
                    <ul class="steps">
                        <li class="step active"><a href="#" ui-sref=".selectCourse" ui-sref-active="active-step"><span class="hidden-xs">Course</span></a></li>
                        <li class="step"><a href="#" ui-sref=".completeDetails" ui-sref-active="active-step"><span class="hidden-xs">Personal Details</span></a></li>
                        <li class="step"><a href="#" ui-sref=".upload" ui-sref-active="active-step"><span class="hidden-xs">Upload Documents</span></a></li>
                        <li class="step"><a href="#" ui-sref=".declaration" ui-sref-active="active-step"><span class="hidden-xs">Declaration &amp; Send</span></a></li>
                    </ul>
                </div>

            </div>-->
				<div class="row">
					<!--
				<div class="col-sm-2 no-padding">
					<div id="steps-nav">
						<ul class="list-group vertical">
							<li class="list-group-item"><a href="#" ui-sref=".selectCourse" ui-sref-active="active-step" class="btn"><i class="icon ion-university" ng-disabled="true"></i> Course</a></li>
							<li class="list-group-item"> <a href="#" ui-sref=".completeDetails" ui-sref-active="active-step" class="btn"><i class="icon ion-android-person" ng-disabled="true"></i> Personal Details</a></li>
							<li class="list-group-item"> <a href="#" ui-sref=".upload" ui-sref-active="active-step" class="btn"><i class="icon ion-upload" ng-disabled="true"></i> Uploads</a></li>
							<li class="list-group-item"><a href="#" ui-sref=".declaration" ui-sref-active="active-step" class="btn"><i class="icon ion-ios-checkmark" ng-disabled="true"></i> Declaration &amp; Send</a></li>
						</ul>
					</div>
				</div>-->

					<form name="ctrl.applicationForm" id="applicationForm" novalidate>
						<uib-tabset active="ctrl.applicant.activeForm">
							<uib-tab index="0" select="ctrl.setStep(0)">
								<uib-tab-heading>
									<i class="icon" ng-class="{'ion-checkmark-circled':ctrl.applicationForm.coursesForm.$valid, 'ion-android-cancel':ctrl.applicationForm.coursesForm.$invalid && ctrl.applicationForm.coursesForm.$touched}"></i> Step 1
								</uib-tab-heading>

								<h3 class="step-header"><span class="step-header-number">1</span> Choose Your course</h3>

								<ng-include src="'/views/selectCourse.html'"></ng-include>

								<div class="row step-nav-btns">
									<div class="col-sm-3">

									</div>
									<div class="col-sm-3">
									</div>
									<div class="col-sm-3">
										<button type="button" class="btn btn-default btn-block btn-cancel" ng-click="ctrl.cancellationModal()">Cancel</button>
									</div>
									<div class="col-sm-3">
										<button type="submit" class="btn  btn-block nice-btn" ng-click="ctrl.gotoNextStep(ctrl.applicationForm.coursesForm, 1)">Save &amp; Proceed <i class="icon ion-ios-arrow-right"></i></button>
									</div>
								</div>
							</uib-tab>

							<uib-tab index="1" select="ctrl.setStep(1)">
								<uib-tab-heading>
									<i class="icon" ng-class="{'ion-checkmark-circled':ctrl.applicationForm.detailsForm.$valid, 'ion-android-cancel':ctrl.applicationForm.detailsForm.$invalid && ctrl.applicationForm.detailsForm.$touched}"></i> Step 2
								</uib-tab-heading>

								<h3 class="step-header"><span class="step-header-number">2</span> Enter Your Personal Details</h3>

								<ng-include src="'/views/apply.html'"></ng-include>


								<div class="row step-nav-btns">
									<div class="col-sm-3">
										<button type="button" class="btn btn-block nice-btn" ng-click="ctrl.gotoStep(0)"> <i class="icon ion-ios-arrow-left"></i> Previous</button>
									</div>
									<div class="col-sm-3">
										<button type="button" class="btn btn-default btn-block btn-cancel" ng-click="ctrl.cancellationModal()">Cancel</button>
									</div>
									<div class="col-sm-3"></div>
									<div class="col-sm-3">
										<button type="button" class="btn  btn-block nice-btn" ng-click="ctrl.gotoNextStep(ctrl.applicationForm.detailsForm, 2)">Save &amp; Proceed <i class="icon ion-ios-arrow-right"></i></button>
									</div>
								</div>
							</uib-tab>
							<uib-tab index="2" select="ctrl.setStep(2)">
								<uib-tab-heading>
									<i class="icon" ng-class="{'ion-checkmark-circled':ctrl.applicationForm.detailsForm.$valid, 'ion-android-cancel':ctrl.applicationForm.detailsForm.$invalid && ctrl.applicationForm.detailsForm.$touched}"></i> Step 3
								</uib-tab-heading>

								<h3 class="step-header"><span class="step-header-number">3</span> Pre-Training Review</h3>

								<ng-include src="'/views/ptr.html'"></ng-include>


								<div class="row step-nav-btns">
									<div class="col-sm-3">
										<button type="button" class="btn btn-block nice-btn" ng-click="ctrl.gotoStep(1)"> <i class="icon ion-ios-arrow-left"></i> Previous</button>
									</div>
									<div class="col-sm-3">
										<button type="button" class="btn btn-default btn-block btn-cancel" ng-click="ctrl.cancellationModal()">Cancel</button>
									</div>
									<div class="col-sm-3"></div>
									<div class="col-sm-3">
										<button type="button" class="btn  btn-block nice-btn" ng-click="ctrl.gotoNextStep(ctrl.applicationForm.ptrForm, 3)">Save &amp; Proceed <i class="icon ion-ios-arrow-right"></i></button>
									</div>
								</div>
							</uib-tab>
							<uib-tab index="3" select="ctrl.setStep(3)">
								<uib-tab-heading>
									<i class="icon" ng-class="{'ion-checkmark-circled':ctrl.applicationForm.uploadForm.$valid, 'ion-android-cancel':ctrl.applicationForm.uploadForm.$invalid && ctrl.applicationForm.uploadForm.$touched}"></i> Step 4
								</uib-tab-heading>
								<div class="row">
									<div class="col-md-12">
										<h3 class="step-header"><span class="step-header-number">4</span> Upload Documents</h3>
										<p class="upload-instruction-text">It is <strong>optional</strong> to upload the supporting documentation at this stage. However, you must bring the originals of all your supporting documentation to the Campus Tour to process your application further.</p>

										<p class='upload-instruction-text'>Choose your funding type below to find out which supporting documentation you are required to provide as part of your application:</p>
										<div class="row">
											<div class="col-sm-6">

												<uib-accordion close-others="oneAtATime">
													<div uib-accordion-group class="panel-info-block" is-open="ctrl.isVFHCollapsed">
														<uib-accordion-heading class='info-panel-heading'>
															VET FEE-HELP <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': ctrl.isVFHCollapsed, 'glyphicon-chevron-right': !ctrl.isVFHCollapsed}"></i>
														</uib-accordion-heading>
														<ul class="id-list">
															<li>
																<p>Australian Passport or</p>
															</li>
															<li>
																<p>Certificate of Citizenship or</p>
															</li>
															<li>
																<p>Birth Certificate or - <small>*further requirements may apply.</small></p>
															</li>
														</ul>
													</div>
												</uib-accordion>
											</div>
											<div class="col-sm-6">
												<uib-accordion close-others="oneAtATime">
													<div uib-accordion-group class="panel-info-block" is-open="ctrl.isVTGCollapsed">
														<uib-accordion-heading class='info-panel-heading'>
															VTG <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': ctrl.isVTGCollapsed, 'glyphicon-chevron-right': !ctrl.isVTGCollapsed}"></i>
														</uib-accordion-heading>
														<p>Please upload <strong>one</strong> of the following documents: </p>
														<ul class="id-list">
															<li>
																<p>Australian Birth Certificate (not Birth Extract)</p>
															</li>
															<li>
																<p>Current New Zealand Passport</p>
															</li>
															<li>
																<p>Current Green Medicare Card</p>
															</li>
															<li>
																<p>Current Australian Passport</p>
															</li>
															<li>
																<p>Naturalisation certificate</p>
															</li>
															<li>
																<p>Signed declaration by a relevant referee</p>
															</li>
															<li>
																<p>Formal documentation issued by the Australian Department of Immigration and Border Protection confirming permanent residence
																</p>
															</li>
														</ul>
														<p>And if <strong>age is relevant to your eligibility</strong> and the document you've uploaded from the list above does not include your date of birth, please upload any <strong>one</strong> of the following:
														</p>
														<ul class="id-list">
															<li>
																<p>Current drivers licence</p>
															</li>
															<li>
																<p>Current learner permit</p>
															</li>
															<li>
																<p>Proof of Age card</p>
															</li>
															<li>
																<p>‘Keypass’ card</p>
															</li>
														</ul>
													</div>
												</uib-accordion>
											</div>
										</div>

									</div>
								</div>
								<div class="row" id="upload-btn-containers" ng-form="uploadForm">
									<div class="col-sm-3">
										<input type="file" name="document0" ngf-select="ctrl.addFile($file)" ngf-pattern="'image/*,application/pdf'" ngf-accept="'image/*,application/pdf'" class="btn upload-btn bnt-file" id="fileUpload">
										<label id="upload-label-btn" class="btn btn-block btn-primary btn-round" for="fileUpload"><i class="icon ion-upload"></i> Add Document </label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12" id="upload-table-container">
										<table class="table upload-table">
											<thead>
												<tr>
													<th>

													</th>
													<th>
														Filename
													</th>
													<th>

													</th>
													<th>
														Remove
													</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="file in ctrl.files">
													<td class="text-center"><i class="icon ion-android-attach icon-big"></i></td>
													<td>{{file.name}}</td>
													<td></td>
													<td>
														<button ng-click="ctrl.removeFile($index)" class="action-icon-btn"><i class="icon ion-android-delete"></i> </button>
													</td>
												</tr>
											</tbody>

										</table>
									</div>
								</div>
								<div class="row step-nav-btns">
									<div class="col-sm-3">
										<button type="button" class="btn btn-block nice-btn" ng-click="ctrl.gotoStep(2)"> <i class="icon ion-ios-arrow-left"></i> Previous</button>
									</div>
									<div class="col-sm-3">
										<button type="button" class="btn btn-default btn-block btn-cancel" ng-click="ctrl.cancellationModal()">Cancel</button>
									</div>
									<div class="col-sm-3"></div>
									<div class="col-sm-3">
										<button type="button" class="btn  btn-block nice-btn" ng-click="ctrl.gotoNextStep(ctrl.applicationForm.detailsForm, 4)">Save &amp; Proceed <i class="icon ion-ios-arrow-right"></i></button>
									</div>
								</div>
							</uib-tab>
							<uib-tab index="4" select="ctrl.setStep(4)">
								<uib-tab-heading>
									<i class="icon" ng-class="{'ion-checkmark-circled':ctrl.applicationForm.agreementForm.$valid, 'ion-android-cancel':ctrl.applicationForm.agreementForm.$invalid && ctrl.applicationForm.agreementForm.$touched}"></i> Step 5
								</uib-tab-heading>
								<div class="row">
									<div class="col-sm-12">
										<h3 class="step-header"><span class="step-header-number">5</span> Student Declaration</h3>
									</div>
								</div>
								<ng-include src="'/views/declaration.html'"></ng-include>

								<div class="row step-nav-btns">
									<div class="col-sm-3">
										<button type="button" class="btn btn-block nice-btn" ng-click="ctrl.gotoStep(2)"> <i class="icon ion-ios-arrow-left"></i> Previous</button>
									</div>
									<div class="col-sm-3">
										<button type="button" class="btn btn-default btn-block btn-cancel" ng-click="ctrl.cancellationModal() ">Cancel</button>
									</div>
									<div class="col-sm-3 "></div>
									<div class="col-sm-3 ">
										<button type="button " class="btn btn-block nice-btn " ng-disabled="! ctrl.applicationForm.$valid || ctrl.buttonDisable " ng-click="ctrl.submit() ">Submit Application</button>
									</div>
								</div>
							</uib-tab>

						</uib-tabset>
					</form>

					<!--<div id="steps-container ">
					<ui-view></ui-view>
				</div>-->

				</div>
			</div>
	</section>
	</div>