<div id="login" class="wrapper">
	<div class="container-fluid">
		<div class="col-md-4" id="login-left-column">
			<div class="main-header-content">
				<h2>Online Enrolment Portal</h2>

			</div>
			<div class="main-body-content">
				<h4>Same forms, only easier.</h4>
				<p>Complete and submit your enrolment application in 3 simple steps:</p>
			</div>
			<div class="main-body-content">
				<div class="media">
					<div class="media-left">
						<span class="header-number">
							1
						</span>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Request for a Consultation ID</h4>
						<p>Contact us for a short pre-enrolment interview. We only do this to make sure the course is suitable for you. </p>
					</div>
				</div>
				<div class="media">
					<div class="media-left">
						<span class="header-number">
							2
						</span>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Create your account</h4>
						<p>Use your unique Consultation ID to create an Online Enrolment Portal account.</p>
					</div>
				</div>
				<div class="media">
					<div class="media-left">
						<span class="header-number">
							3
						</span>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Complete and submit your application</h4>
						<p>Submit an enrolment application for the course you're interested in.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8" id="login-right-column">
			<div class="form-container">
				<form id="reset-password-form" class="form" method="POST" name="resetPasswordForm">
					<div class="header text-center">
						<svg version="1.1" id="forgot-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve">
							<g>
								<g>
									<path d="M29.5,30h-10c-0.3,0-0.5-0.2-0.5-0.5v-8c0-0.3,0.2-0.5,0.5-0.5h10c0.3,0,0.5,0.2,0.5,0.5v8C30,29.8,29.8,30,29.5,30z
			 M20,29h9v-7h-9V29z" />
								</g>
								<g>
									<path d="M24.5,27c-0.3,0-0.5-0.2-0.5-0.5v-2c0-0.3,0.2-0.5,0.5-0.5s0.5,0.2,0.5,0.5v2C25,26.8,24.8,27,24.5,27z" />
								</g>
								<g>
									<g>
										<path d="M0.5,30c0,0-0.1,0-0.1,0c-0.3-0.1-0.4-0.3-0.4-0.6l0.7-3c0.3-1.4,1.4-2.6,2.7-3l5.9-1.9c1.4-0.6,2-2.9,2.1-3.7
				c-0.9-0.9-1.8-2.2-1.8-3.4c0-0.5-0.2-0.7-0.3-0.8c-0.2,0-0.3-0.1-0.3-0.3c0-0.1-0.6-1.7-0.6-2.7c0,0,0-0.1,0-0.1
				C8.5,10.2,8.7,9.8,9,9.6V6c0-2.5,2.1-6,5.9-6c3.6,0,4.6,1.9,4.7,2.8C20.2,3.1,21,3.8,21,6v3.6c0.3,0.2,0.5,0.5,0.5,0.9
				c0,1.1-0.6,2.7-0.6,2.7c-0.1,0.2-0.2,0.3-0.3,0.3c-0.1,0-0.2,0.2-0.2,0.8c0,1.1-0.4,1.7-0.7,2c0,0-0.1,0.1-0.1,0.1
				c-0.1,0.2-0.5,0.3-0.7,0.2c-0.2-0.1-0.3-0.5-0.2-0.7c0-0.1,0.1-0.1,0.1-0.2c0.2-0.3,0.5-0.6,0.5-1.4c0-0.9,0.4-1.4,0.7-1.6
				c0.2-0.5,0.5-1.5,0.5-2.2l0,0c0,0,0-0.1,0-0.1c-0.3,0-0.5-0.2-0.5-0.5V6c0-1.9-0.6-2.2-0.9-2.4c-0.1-0.1-0.4-0.2-0.4-0.5
				c0-0.1,0-0.2,0-0.2C18.6,2.4,17.9,1,14.9,1C11.9,1,10,3.9,10,6v4c0,0.3-0.2,0.5-0.5,0.5c0,0-0.1,0.1-0.1,0.2
				c0,0.6,0.3,1.6,0.5,2.1c0.3,0.2,0.7,0.7,0.7,1.6c0,0.9,0.8,2.1,1.6,2.8c0.1,0.1,0.2,0.2,0.2,0.4c0,0.8-0.7,4-2.7,4.9l-5.9,1.9
				c-1,0.4-1.8,1.2-2,2.3l-0.7,3C0.9,29.8,0.7,30,0.5,30z" />
									</g>
								</g>
								<g>
									<path d="M28.5,22c-0.3,0-0.5-0.2-0.5-0.5v-1c0-1.9-1.6-3.5-3.5-3.5S21,18.6,21,20.5v1c0,0.3-0.2,0.5-0.5,0.5S20,21.8,20,21.5v-1
			c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5v1C29,21.8,28.8,22,28.5,22z" />
								</g>
								<g>
									<path d="M24.5,26c-0.8,0-1.5-0.7-1.5-1.5s0.7-1.5,1.5-1.5s1.5,0.7,1.5,1.5S25.3,26,24.5,26z M24.5,24c-0.3,0-0.5,0.2-0.5,0.5
			s0.2,0.5,0.5,0.5s0.5-0.2,0.5-0.5S24.8,24,24.5,24z" />
								</g>
							</g>
						</svg>

						<h3 class="form-header">Forgot Your Password?</h3>
						<p>Enter your email address and we'll send you a link to reset your password.</p>
					</div>
					<div class="form-body">
						<div class="form-group">
							<div ng-form="ctrl.resetForm">
								<label for='email' class='control-label'>Email: </label>
								<input type="email" id="email" name="email" class="form-control" placeholder="Enter Your Email Here" ng-model="ctrl.email" ng-required="true">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6">
								<button type="button" class="btn btn-default btn-block btn-ghost" ui-sref="login">Cancel</button>
							</div>
							<div class="col-sm-6">
								<button type="submit" class="btn btn-success btn-block" ng-click="ctrl.sendEmail()">Send Email</button>
							</div>
						</div>
						<div class="form-group row" ng-show="resetPasswordForm.$submitted && ctrl.emailSent">
							<div class="help-block bg-success email-success"><i class="icon ion-email-unread"> </i> We've sent a password reset link to your email <strong>{{ctrl.email}}</strong>. Please follow the instructions in the email to reset your password. </div>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>