<div id="login" class="wrapper">
	<div class="container-fluid">
		<div class="col-md-4" id="login-left-column">
			<div class="main-header-content">
				<h2>Online Enrolment Portal</h2>

			</div>
			<div class="main-body-content">
				<h4>Same forms, only easier!</h4>
				<p>Complete and submit your enrolment application in 3 simple steps:</p>
			</div>
			<div class="main-body-content">
				<div class="media">
					<div class="media-left">
						<span class="header-number">
							1
						</span>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Request for a Consultation ID</h4>
						<p>Contact us for a short pre-enrolment interview. We only do this to make sure the course is suitable for you.</p>
					</div>
				</div>
				<div class="media">
					<div class="media-left">
						<span class="header-number">
							2
						</span>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Create your account</h4>
						<p>Use your unique Consultation ID to create an Online Enrolment Portal account.</p>
					</div>
				</div>
				<div class="media">
					<div class="media-left">
						<span class="header-number">
							3
						</span>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Complete and submit your application</h4>
						<p>Submit an enrolment application for the course you're interested in.</p>
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-8" id="login-right-column">
			<div class="login-form-container">
				<div class="logo-container">
					<img src="../img/peg-logo.png" class="img-responsive peg-logo" />
				</div>
				<div class="form-container">
					<form id="login-form" name="loginForm" class="form" method="POST" novalidate>
						<div class="form-body">
							<div class="form-group">
								<span class="help-block bg-danger error" ng-show="loginForm.$submitted && main.loginFailed">Incorrect email or password.</span>
							</div>
							<div class="form-group has-feedback">
								<label for="Email">Email:</label>
								<input type="email" id="email" name="email" class="form-control" placeholder="Email" ng-model="main.user.email" ng-required>
							</div>
							<div class="form-group">
								<label for="password">Password:</label>
								<input type="password" id="password" name="password" placeholder="Password" class="form-control" ng-model="main.user.password" ng-required ng-minlength="3">
							</div>
							<div class="form-group row">
								<div class="col-md-6">
									<a ui-sref="forgot" class="forgot-password">Forgot My Password</a>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-6 col-md-offset-6">
									<button class="btn btn-success btn-block" ng-click="main.login()">Sign In &rarr;</button>
								</div>
							</div>

						</div>
						<div class="footer">
							<div class="form-group row">
								<div class="col-sm-6">
									<p class="text-muted">Don't have an account?</p>
								</div>
								<div class="col-sm-6 text-right">
									<a ui-sref="register" class="text-uppercase">Create account</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div id="ourBrands">

				<div class="row group">
					<div class="col-sm-4 small-padding">
						<div class="panel" id="NAB-logo-container">
							<img src="../img/NAB_logo.png" class="img-responsive" />
						</div>

					</div>
					<div class="col-sm-4 small-padding">
						<div class="panel" id="NAT-logo-container">
							<img src="../img/NAT_logo.png" class="img-responsive" />
						</div>

					</div>
					<div class="col-sm-4 small-padding">
						<div class="panel" id="NAEC-logo-container">
							<img src="../img/NAEC_logo.png" class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="row group">
					<div class="col-sm-4 small-padding">
						<div class="panel" id="AIBL-logo-container">
							<img src="../img/AIBL_logo.png" class="img-responsive" />
						</div>
					</div>
					<div class="col-sm-4 small-padding">
						<div class="panel" id="DCA-logo-container">
							<img src="../img/DCA_logo.png" class="img-responsive" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>