<ng-form class="form" name="ptrForm" id="ptrForm" novalidate>
	<uib-accordion close-others="true">
		<div uib-accordion-group class="panel-default" is-open="status.aboutOpen">
			<uib-accordion-heading>
				<span class="dot" ng-class="{'ptr-section-completed':form_part_a.$valid}"></span>
				<h4>Part A - All questions must be attempted* <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.aboutOpen, 'glyphicon-chevron-right': !status.aboutOpen}"></i></h4>
			</uib-accordion-heading>
			<fieldset id="parta" ng-form="form_part_a">
				<div class="form-group">
					<label for="title" class="control-label question">1) Your Expectations - Tell us three things that you hope to gain from completing this qualification.*
					</label>
				</div>
				<div class="form-group line-input">
					<label for="part_a_question_one_a">&bull;</label>
					<input type='text' id="part_a_question_one_a" name="expecationsOne" class="form-control" ng-model="ctrl.applicant.ptr.partA.questionOne.a" placeholder="1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-required="true">
				</div>
				<div class="form-group line-input">
					<label for="part_a_question_one_b">&bull;</label>
					<input type='text' id="part_a_question_one_b" name="expecationsTwo" class="form-control" ng-model="ctrl.applicant.ptr.partA.questionOne.b" placeholder="2" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-required="true">
				</div>
				<div class="form-group line-input">
					<label for="part_a_question_one_c">&bull;</label>
					<input type='text' id="part_a_question_one_c" name="expecationsThree" class="form-control" ng-model="ctrl.applicant.ptr.partA.questionOne.c" placeholder="3" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-required="true">
				</div>
				<div class="form-group">
					<label for="title" class="control-label question">2) Learning Goals – Where do you see yourself in the next 3-5 years in relation to studying and work?*
					</label>
					<textarea name="" id="" cols="40" rows="3" name="learninggoals" class="textarea form-control" ng-model="ctrl.applicant.ptr.partA.questionTwo" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
					</textarea>
				</div>
				<div class="form-group">
					<label for="title" class="control-label question">3) Learning Styles – what is your preferred learning style? Tick one box or number in order of preference.*
					</label>

					<div class="cs-radio">
						<input type="radio" id="learningstyleone" class="cs-radio-input" name="learningstyle" ng-value="'I prefer visual input and I tend to remember things better if they are organised and presented visual. For example, images, charts and flow diagrams'" ng-model="ctrl.applicant.ptr.partA.questionThree">
						<label for="learningstyleone">I prefer visual input and I tend to remember things better if they are organised and presented visual. For example, images, charts and flow diagrams</label>
					</div>
					<div class="cs-radio">
						<input type="radio" id="learningstyletwo" class="cs-radio-input" name="learningstyle" ng-value="'I prefer auditory input and remember things best when I hear them'" ng-model="ctrl.applicant.ptr.partA.questionThree">
						<label for="learningstyletwo">I prefer auditory input and remember things best when I hear them</label>
					</div>
					<div class="cs-radio">
						<input type="radio" id="learningstylethree" class="cs-radio-input" name="learningstyle" ng-value="'I prefer physical and concrete input that requires action and movement to learn and remember thing'" ng-model="ctrl.applicant.ptr.partA.questionThree">
						<label for="learningstylethree">I prefer physical and concrete input that requires action and movement to learn and remember thing</label>
					</div>
				</div>
				<div class="form-group">
					<label for="title" class="control-label question">4) Previous Formal or Informal Training – Please provide us with a brief description of the topics and course outlines that you have had in the formal or informal training.*

					</label>
					<textarea name="" id="" cols="40" rows="5" name="formaltraining" class="textarea form-control" ng-model="ctrl.applicant.ptr.partA.questionFour" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
					</textarea>
				</div>
				<div class="form-group">
					<label for="title" class="control-label question">5) Previous experience – please provide us with a brief description of the roles and responsibilities you have had in the workplace either paid or volunteer.*


					</label>
					<textarea name="" id="" cols="40" rows="5" name="previoustraining" class="textarea form-control" ng-model="ctrl.applicant.ptr.partA.questionFive" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
					</textarea>
				</div>
			</fieldset>
		</div>
		<div uib-accordion-group class="panel-default" is-open="status.contactOpen">
			<uib-accordion-heading>
				<h4> <span class="dot" ng-class="{'ptr-section-completed':form_part_b.$valid}"></span> Part B – Reading &amp; Writing 
 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.contactOpen, 'glyphicon-chevron-right': !status.contactOpen}"></i></h4>

			</uib-accordion-heading>
			<fieldset id="contact-info" ng-form="form_part_b">
				<!-- Contact information-->
				<div class="form-group row has-feedback">
					<label for="title" class="control-label question">6) Read the Scenarios below and then answer the questions:
						<div class="alert alert-info" role="alert">
							<h4>Due Diligence:</h4>
							<p><em>As Mary was preparing the workplace for the day she noticed that one of the shelves in the storeroom appeared to be sagging at one end. On closer inspection she saw that the shelf had come away from the wall and was in danger of collapsing.</em>
							</p>
						</div>
				</div>
				<div class="form-group">
					<label for="title" class="control-label">(a) What three things should Mary have done after she noticed the shelves were sagging?</label>
				</div>
				<div class="form-group line-input">
					<label for="part_a_question_one_a">&bull;</label>
					<input type='text' id="part_b_question_six_a" name="expecationsOne" class="form-control" ng-model="ctrl.applicant.ptr.partB.questionSixA.a" placeholder="1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
				</div>
				<div class="form-group line-input">
					<label for="part_a_question_one_b">&bull;</label>
					<input type='text' id="part_b_question_six_b" name="expecationsTwo" class="form-control" ng-model="ctrl.applicant.ptr.partB.questionSixA.b" placeholder="2" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
				</div>
				<div class="form-group line-input">
					<label for="part_b_question_six_c">&bull;</label>
					<input type='text' id="part_a_question_one_c" name="expecationsThree" class="form-control" ng-model="ctrl.applicant.ptr.partB.questionSixA.c" placeholder="3" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
				</div>
				<div class="form-group">
					<label for="title" class="control-label">(b) Where would you go to get more information on safety matters in the workplace? </label>
					<textarea name="" id="" cols="40" rows="5" name="formaltraining" class="textarea form-control" ng-model="ctrl.applicant.ptr.partB.questionSixB" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
					</textarea>
				</div>

				<div class="form-group row has-feedback">
					<label for="title" class="control-label question">7) Comprehension – read the following text and circle the correct responses to the questions below:
						<div class="alert alert-info" role="alert">
							<p><em>Have you ever wondered whether fish drink or not? All living things must drink, and they require a fresh supply of water often. A person can go without food for many days, but he or she cannot go for long without water. Fish drink, and fish that live in salt water must drink salt water. However, when we watch them in an aquarium and see them opening and closing their mouths, we must not assume that they are drinking. Fish need water for its oxygen. The water that they seem to be gulping gives them oxygen, which is in the water. On the other hand, when a fish drinks, it swallows water, just in the way we do. </em>
							</p>
						</div>
				</div>

				<div class="form-group">
					<label for="title" class="control-label">(a) It is stated in the passage that a fish opens and closes its mouth...
					</label>

					<div class="cs-radio">
						<input type="radio" id="cqsevenaa" class="cs-radio-input" name="cqsevena" ng-value="'In order to get oxygen'" ng-model="ctrl.applicant.ptr.partB.questionSeven.a">
						<label for="cqsevenaa">In order to get oxygen</label>
					</div>
					<div class="cs-radio">
						<input type="radio" id="cqsevenab" class="cs-radio-input" name="cqsevena" ng-value="'So as to gulp'" ng-model="ctrl.applicant.ptr.partB.questionSeven.a">
						<label for="cqsevenab">So as to gulp</label>
					</div>
					<div class="cs-radio">
						<input type="radio" id="cqsevenac" class="cs-radio-input" name="cqsevena" ng-value="'To drink to stay alive'" ng-model="ctrl.applicant.ptr.partB.questionSeven.a">
						<label for="cqsevenac">To drink to stay alive</label>
					</div>
					<div class="cs-radio">
						<input type="radio" id="cqsevenad" class="cs-radio-input" name="cqsevena" ng-value="'To swim in an aquarium'" ng-model="ctrl.applicant.ptr.partB.questionSeven.a">
						<label for="cqsevenad">To swim in an aquarium</label>
					</div>
					<div class="cs-radio">
						<input type="radio" id="cqsevenae" class="cs-radio-input" name="cqsevena" ng-value="'So that it can suffice salt'" ng-model="ctrl.applicant.ptr.partB.questionSeven.a">
						<label for="cqsevenae">So that it can suffice salt</label>
					</div>
				</div>

				<div class="form-group">
					<label for="title" class="control-label">(b) We are informed by the passage that a person...
					</label>
					<div class="cs-radio">
						<input type="radio" id="cqsevenba" class="cs-radio-input" name="cqsevenb" ng-value="'Can live for a long time without water'" ng-model="ctrl.applicant.ptr.partB.questionSeven.b">
						<label for="cqsevenba">Can live for a long time without water</label>
					</div>
					<div class="cs-radio">
						<input type="radio" id="cqsevenbb" class="cs-radio-input" name="cqsevenb" ng-value="'Can live for a long time without food'" ng-model="ctrl.applicant.ptr.partB.questionSeven.b">
						<label for="cqsevenbb">Can live for a long time without food</label>
					</div>
					<div class="cs-radio">
						<input type="radio" id="cqsevenbc" class="cs-radio-input" name="cqsevenb" ng-value="'Has no need for food and water'" ng-model="ctrl.applicant.ptr.partB.questionSeven.b">
						<label for="cqsevenbc">Has no need for food and water</label>
					</div>
					<div class="cs-radio">
						<input type="radio" id="cqsevenbd" class="cs-radio-input" name="cqsevenb" ng-value="'Has no need for a fresh supply of water'" ng-model="ctrl.applicant.ptr.partB.questionSeven.b">
						<label for="cqsevenbd"> Has no need for a fresh supply of water</label>
					</div>
					<div class="cs-radio">
						<input type="radio" id="cqsevenbe" class="cs-radio-input" name="cqsevenb" ng-value="'Do need water to get oxygen'" ng-model="ctrl.applicant.ptr.partB.questionSeven.b">
						<label for="cqsevenbe"> Do need water to get oxygen</label>
					</div>

					<div class="form-group">
						<label for="title" class="control-label">(b) When a fish drinks water...
						</label>
						<div class="cs-radio">
							<input type="radio" id="cqsevenca" class="cs-radio-input" name="cqsevenc" ng-value="'Do need water to get oxygen'" ng-model="ctrl.applicant.ptr.partB.questionSeven.c">
							<label for="cqsevenca"> It requires fresh water</label>
						</div>
						<div class="cs-radio">
							<input type="radio" id="cqsevencb" class="cs-radio-input" name="cqsevenc" ng-value="'It swallows water just like us'" ng-model="ctrl.applicant.ptr.partB.questionSeven.c">
							<label for="cqsevencb"> It swallows water just like us</label>
						</div>
						<div class="cs-radio">
							<input type="radio" id="cqsevencc" class="cs-radio-input" name="cqsevenc" ng-value="'It requires salt water'" ng-model="ctrl.applicant.ptr.partB.questionSeven.c">
							<label for="cqsevencc"> It requires salt water</label>
						</div>
						<div class="cs-radio">
							<input type="radio" id="cqsevencd" class="cs-radio-input" name="cqsevenc" ng-value="'It drinks water for its oxygen'" ng-model="ctrl.applicant.ptr.partB.questionSeven.c">
							<label for="cqsevencd"> It drinks water for its oxygen</label>
						</div>
						<div class="cs-radio">
							<input type="radio" id="cqsevence" class="cs-radio-input" name="cqsevenc" ng-value="'It stays motionless for a while to swallow'" ng-model="ctrl.applicant.ptr.partB.questionSeven.c">
							<label for="cqsevence"> It stays motionless for a while to swallow</label>
						</div>
					</div>
			</fieldset>
			</div>
			<div uib-accordion-group class="panel-default" is-open="status.writingOpen">
				<uib-accordion-heading>
					<h4> <span class="dot" ng-class="{ 'ptr-section-completed':form_part_c.$valid}"></span> Part C – Writing <i class="pull-right glyphicon" ng-class="{ 'glyphicon-chevron-down': status.otherOpen, 'glyphicon-chevron-right': !status.writingOpen}"></i></h4>
				</uib-accordion-heading>
				<fieldset id="other-details" ng-form="form_part_c">
					<div class="form-group">
						<label for="title" class="control-label question">8) Spelling - Choose the <strong>words</strong> that best complete the sentence </label>
						<div class="alert alert-info" role="alert">
							<p>The
								<input type="text" class="form-control inline-line-input" placeholder="Type your answer here" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.applicant.ptr.partC.questionEight.a"> of the timetable caused some
								<input type="text" class="form-control inline-line-input" placeholder="Type your answer here" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="ctrl.applicant.ptr.partC.questionEight.b">.</p>

						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6 no-padding">
							<label class="form-control">
								rivision
							</label>
							<label class="form-control">
								revision
							</label>
							<label class="form-control">
								revission
							</label>
							<label class="form-control">
								revition
							</label>
						</div>
						<div class="col-sm-6 no-padding">
							<label class="form-control">
								inconvenience
							</label>
							<label class="form-control">
								inconvenince
							</label>
							<label class="form-control">
								inconveneince
							</label>
							<label class="form-control">
								incconvenience
							</label>
						</div>
					</div>

					<div class="form-group">
						<label for="title" class="control-label question">9) Spelling – The correct spelling is:
						</label>

						<div class="cs-radio">
							<input type="radio" id="cqeightba" class="cs-radio-input" name="cqeightb" ng-value="'embarassed'" ng-model="ctrl.applicant.ptr.partC.questionNine">
							<label for="cqeightba"> embarassed</label>
						</div>
						<div class="cs-radio">
							<input type="radio" id="cqeightbb" class="cs-radio-input" name="cqeightb" ng-value="'embarrassed'" ng-model="ctrl.applicant.ptr.partC.questionNine">
							<label for="cqeightbb"> embarrassed</label>
						</div>
						<div class="cs-radio">
							<input type="radio" id="cqeightbc" class="cs-radio-input" name="cqeightb" ng-value="'embbarrassed'" ng-model="ctrl.applicant.ptr.partC.questionNine">
							<label for="cqeightbc"> embbarrassed</label>
						</div>

					</div>

					<div class="form-group">
						<label for="title" class="control-label question">10) Spelling – The correct spelling is:
						</label>

						<div class="cs-radio">
							<input type="radio" id="cqeightca" class="cs-radio-input" name="cqeightc" ng-value="'separrate'" ng-model="ctrl.applicant.ptr.partC.questionTen">
							<label for="cqeightca"> separrate</label>
						</div>
						<div class="cs-radio">
							<input type="radio" id="cqeightcb" class="cs-radio-input" name="cqeightc" ng-value="'seperate'" ng-model="ctrl.applicant.ptr.partC.questionTen">
							<label for="cqeightcb"> seperate</label>
						</div>
						<div class="cs-radio">
							<input type="radio" id="cqeightcc" class="cs-radio-input" name="cqeightc" ng-value="'separate'" ng-model="ctrl.applicant.ptr.partC.questionTen">
							<label for="cqeightcc"> separate</label>
						</div>

					</div>

				</fieldset>
			</div>
			<div uib-accordion-group class="panel-default" is-open="status.numeracyOpen">
				<uib-accordion-heading>
					<h4> <span class="dot" ng-class="{ 'ptr-section-completed':form_part_d.$valid}"></span> Part D - Numeracy <i class="pull-right glyphicon" ng-class="{ 'glyphicon-chevron-down': status.otherOpen, 'glyphicon-chevron-right': !status.numeracyOpen}"></i></h4>
				</uib-accordion-heading>
				<fieldset id="other-details" ng-form="form_part_d">
					<div class="form-group">
						<label for="title" class="control-label question">11) Below is a picture of the money you have in your purse. You want to buy a block of chocolate which costs $3.40. How much more money do you need to be able to purchase the chocolate bar?
						</label>
						<ul class="list-inline">
							<li><img src="../img/five_cent.png" class="img-response" /></li>
							<li><img src="../img/two_dollars.png" class="img-response" /></li>
							<li><img src="../img/ten_cent.png" class="img-response" /></li>
							<li><img src="../img/fifty_cent.png" class="img-response" /></li>
						</ul>
						<div class="form-group line-input">
							<label for="part_a_question_one_c">&bull;</label>
							<input type='text' id="part_a_question_one_c" name="expecationsThree" class="form-control" ng-model="ctrl.applicant.ptr.partD.questionEleven" placeholder="Your answer goes here" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength='15'>
						</div>
					</div>

					<div class="form-group">
						<label for="title" class="control-label question">12) Below is a picture of the money you have in your purse, how much money would be left if you gave half of it away?
						</label>
						<ul class="list-inline">
							<li><img src="../img/twenty_dollars.png" class="img-response" /></li>
							<li><img src="../img/fifty_dollars.png" class="img-response" /></li>
							<li><img src="../img/ten_dollars.png" class="img-response" /></li>
							<li><img src="../img/one_dollar.png" class="img-response" /></li>
							<li><img src="../img/two_dollars.png" class="img-response" /></li>
							<li><img src="../img/one_dollar.png" class="img-response" /></li>
							<li><img src="../img/ten_cent.png" class="img-response" /></li>
						</ul>
						<div class="form-group line-input">
							<label for="part_a_question_one_c">&bull;</label>
							<input type='text' id="part_a_question_one_c" name="expecationsThree" class="form-control" ng-model="ctrl.applicant.ptr.partD.questionTwelve" placeholder="Your answer goes here" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength='15'>
						</div>
					</div>
					<div class="form-group">
						<label for="title" class="control-label question">13) <strong>Train A</strong>, traveling 70 kilometres per hour (Kph), leaves station A heading towards station B, 260 Kilometres (Km) away. At the same time <strong>Train B</strong>, traveling 60 Kph, leaves station B heading towards station A. The trains meet after travelling for 2 hours, how many kilometres have they each travelled when they meet?
						</label>
						<div class="train-station-img">
						</div>
						<div class="form-group line-input">
							<label for="part_a_question_one_c">A</label>
							<input type='text' id="part_a_question_one_c" name="expecationsThree" class="form-control" ng-model="ctrl.applicant.ptr.partD.questionThirteen.a" placeholder="Your answer goes here" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength='15'>
						</div>
						<div class="form-group line-input">
							<label for="part_a_question_one_c">B</label>
							<input type='text' id="part_a_question_one_c" name="expecationsThree" class="form-control" ng-model="ctrl.applicant.ptr.partD.questionThirteen.b" placeholder="Your answer goes here" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength='15'>
						</div>
					</div>

				</fieldset>
			</div>
	</uib-accordion>
</ng-form>