<div id="login" class="wrapper">
	<div class="container-fluid">
		<div class="col-md-4" id="login-left-column">
			<div class="main-header-content">
				<h2>Online Enrolment Portal</h2>

			</div>
			<div class="main-body-content">
				<h4>Same forms, only easier.</h4>
				<p>Complete and submit your enrolment application in 3 simple steps:</p>
			</div>
			<div class="main-body-content">
				<div class="media">
					<div class="media-left">
						<span class="header-number">
							1
						</span>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Request for a Consultation ID</h4>
						<p>Contact us for a short pre-enrolment interview. We only do this to make sure the course is suitable for you. </p>
					</div>
				</div>
				<div class="media">
					<div class="media-left">
						<span class="header-number">
							2
						</span>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Create your account</h4>
						<p>Use your unique Consultation ID to create an Online Enrolment Portal account.</p>
					</div>
				</div>
				<div class="media">
					<div class="media-left">
						<span class="header-number">
							3
						</span>
					</div>
					<div class="media-body">
						<h4 class="media-heading">Complete and submit your application</h4>
						<p>Submit an enrolment application for the course you're interested in.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8" id="login-right-column">
			<div class="form-container">
				<form id="register-form" name="registerForm" class="form" method="POST">
					<div class="header text-left">
						<p class="form-header">Create An Account</p>
						<span class="help-block bg-danger error" ng-show="registerForm.$submitted && user.registerFailed">{{user.errorMessage}} </span>
					</div>
					<div class="form-body">
						<div class="form-group row">
							<div class="col-sm-6">
								<label for="firstName">First name:</label>
								<input type="text" id="firstName" name="firstName" ng-model="user.regUser.firstName" class="form-control" ng-required placeholder="First Name">
							</div>
							<div class="col-sm-6">
								<label for="firstName">Last name:</label>
								<input type="text" id="lastName" name="lastName" ng-model="user.regUser.lastName" class="form-control" ng-required placeholder="Last Name">
							</div>
						</div>
						<div class="form-group">
							<label for="Email">Email:</label>
							<input type="email" id="email" name="email" ng-model="user.regUser.email" class="form-control" ng-required placeholder="Email">
						</div>
						<div class="form-group">
							<label for="firstName">Password:</label>
							<input type="password" id="password" name="password" ng-model="user.regUser.password" class="form-control" ng-required placeholder="Password" />
						</div>
						<div class="form-group">
							<label for="firstName">Confirm Password:</label>
							<input password-equals other-password="user.regUser.password" ng-model="user.regUser.cfPassword" type="password" id="confirmPassword" class="form-control" ng-required placeholder="Confirm Password">

							<span class="help-block bg-danger error" ng-show="registerForm.$error.confirmPassword && registerForm.password.$touched">Your passwords do not match.</span>
						</div>
						<div class="form-group">
							<label for="firstName">Consultation ID</label>
							<input ng-model="user.regUser.consultationId" type="text" id="consultationId" class="form-control" ng-required placeholder="Consultation ID">
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-success btn-block" ng-click="user.createUser()"> Register</button>
						</div>
					</div>
					<div class="footer">
						<div class="form-group row">
							<div class="col-sm-8">
								<p class="text-muted">Already have an account?</p>
							</div>
							<div class="col-sm-4 text-right">
								<a ui-sref="login" class="text-uppercase">Sign In</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</div>