<html>

<head>
	<base href="/">
	<title>Enroll</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="../vendor/css/normalize.min.css" />
	<link rel="stylesheet" href="../vendor/css/bootstrap.min.css" />
	<link href="../dist/main.css" rel="stylesheet" type="text/css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
</head>

<body id='reset-body' ng-app="resetPasswordApp">

	<div id="reset" class="wrapper" ng-controller="resetPasswordCtrl">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" novalidate>
					<div class="form-container">
						<form id="reset-password-form" name="resetPasswordForm" class="form" method="POST">
							<div class="header text-center">
								<h2 class="form-header">New Password</h2>
								<p>Please enter a new password.</p>
							</div>

							<div class="form-body">
								<div class="form-group">
									<label for='newPassword' class='control-label'>New Password</label>
									<input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="New Password" ng-model="formData.password" />
								</div>
								<div class="form-group">
									<label for='cNewPassword' class='control-label'>Confirm Password</label>
									<input rs-password-equals other-password="formData.password" type="password" name="cNewPassword" id="cNewPassword" class="form-control" placeholder="Confirm New Password" ng-model="formData.cPassword" />
									<span class="help-block bg-danger error" ng-show="resetPasswordForm.$error.confirmPassword && resetPasswordForm.newPassword.$touched"><i class="icon ion-android-cancel"> </i> Your passwords do not match.</span>
								</div>

								<div class="form-group row">
									<div class="col-sm-12">
										<button type="button" class="btn btn-success btn-block" ng-click="resetPassword()">Reset</button>
									</div>
								</div>

							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../reset.js"></script>
	<script src="../passwordEqualsReset.js"></script>
</body>