<ng-form id="coursesForm" name="coursesForm" novalidate>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel">
				<div class="header text-right">
					<p class="small-info-text"><small>All * fields are required.</small></p>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-md-4 control-label text-right">Course*</label>
					<div class="col-sm-8">
						<!--
							<select id="courseChoice" ng-model="ctrl.applicant.courseChoices.course" ng-required="true" name="courseChoice" class="form-control" ng-change="ctrl.getIntakes(ctrl.applicant.courseChoices.course)">
								<option value="" selected>Choose your course…</option>
								<option value="{{course}}" ng-repeat="course in ctrl.filteredCourses">{{course.code}} {{course.name}}</option>
							</select>
-->


						<ui-select ng-model="ctrl.courseChoices.course" on-select="ctrl.getIntakes($item)" ng-required="true" name="courseChoice">
							<ui-select-match placeholder="Choose...">
								<span ng-bind="$select.selected.code + ' ' + $select.selected.name"></span>
							</ui-select-match>
							<ui-select-choices repeat="course in ctrl.filteredCourses | orderBy: 'code' ">
								<span ng-bind="course.code + ' ' + course.name"></span>
							</ui-select-choices>
						</ui-select>

						<div ng-messages="coursesForm.courseChoice.$error" ng-show="coursesForm.courseChoice.$invalid && coursesForm.courseChoice.$touched || ctrl.attemptedNext && coursesForm.courseChoice.$invalid" class="help-block">
							<div ng-message="required" class="error-msg">Please select a course.</div>
						</div>

					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-md-4 control-label text-right">Campus*</label>
					<div class="col-sm-8">
						<!--
							<select id="campusChoice" ng-model="ctrl.courseChoices.campus" ng-required="true" name="campusChoice" class="form-control">
								<option value="" selected>Choose campus…</option>
								<option value="{{course}}" ng-repeat="campus in ctrl.currentCampuses">{{campus.name}}</option>
							</select>
-->
						<ui-select ng-model="ctrl.courseChoices.campus" ng-required="true" name="campusChoice" on-select="ctrl.resetStartDate()">
							<ui-select-match placeholder="Choose...">
								<span ng-bind="$select.selected.name"></span>
							</ui-select-match>
							<ui-select-choices repeat="campus in ctrl.currentCampuses | orderBy: 'name'">
								<span ng-bind="campus.name"></span>
							</ui-select-choices>
						</ui-select>

						<div ng-messages="coursesForm.campusChoice.$error" ng-show="coursesForm.campusChoice.$invalid && coursesForm.campusChoice.$touched || ctrl.attemptedNext && coursesForm.campusChoice.$invalid" class="help-block">
							<div ng-message="required" class="error-msg">Please select campus.</div>
						</div>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-md-4 control-label text-right">Start Date*</label>
					<div class="col-sm-8">
						<!--
							<select id="campusChoice" ng-model="ctrl.courseChoices.intake" ng-required="true" name="campusChoice" class="form-control" ng-options="intake.startDate | date:'d MMM y' for intake in ctrl.currentIntakes track by intake.id">
								<option value="">Choose start date...</option>
							</select>
-->
						<ui-select ng-model="ctrl.courseChoices.intake" ng-required="true" name="intakeChoice">
							<ui-select-match placeholder="Choose...">
								<span ng-bind="$select.selected.startDate | date: 'd MMM, y'"></span>
							</ui-select-match>
							<ui-select-choices repeat="intake in ctrl.currentIntakes | intake:ctrl.courseChoices.campus track by intake.id">
								<span ng-bind="intake.startDate | date: 'd MMM, y'"></span>
							</ui-select-choices>
						</ui-select>

						<div ng-messages="coursesForm.intakeChoice.$error" ng-show="coursesForm.intakeChoice.$invalid && coursesForm.intakeChoice.$touched || ctrl.attemptedNext && coursesForm.intakeChoice.$invalid" class="help-block">
							<div ng-message="required" class="error-msg">Please select from available intake dates.</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

	<div class="panel" id="citizenship-section">
		<div class="header text-right">
			<p class="small-info-text"><small>All * fields are required.</small></p>
		</div>
		<div class="form-group row">
			<label class="control-label col-sm-4 col-md-4">Citizenship*</label>
			<div class="col-sm-8 col-md-6">
				<!--
                        <ui-select ng-model="ctrl.applicant.citizenship.country" ng-required="true" name="citizenshipCountry">
                            <ui-select-match placeholder="Choose...">
                                <span ng-bind="$select.selected"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="country in ctrl.countries | filter: $select.search">
                                <span ng-bind="country"></span>
                            </ui-select-choices>
                        </ui-select>
                        <div ng-messages="ctrl.coursesForm.citizenshipCountry.$error" ng-show="ctrl.coursesForm.citizenshipCountry.$invalid && ctrl.coursesForm.citizenshipCountry.$touched" class="help-block">
                            <div ng-message="required">Required.</div>
                        </div>
                        -->

				<select id="citizenshipCountry" ng-model="ctrl.applicant.citizenship.country" ng-required="true" name="citizenshipCountry" class="form-control">
					<option value="">Select an option…</option>
					<option ng-repeat="country in ctrl.countries" value="{{country}}">{{country}}</option>
				</select>

				<div ng-messages="coursesForm.citizenshipCountry.$error" ng-show="coursesForm.citizenshipCountry.$invalid && coursesForm.citizenshipCountry.$touched || ctrl.attemptedNext && coursesForm.citizenshipCountry.$invalid" class="help-block">
					<div ng-message="required" class="error-msg">Please select citizenship.</div>
				</div>
			</div>
		</div>

		<div class="form-group row" ng-show="ctrl.showScvVisa()">
			<label class="col-sm-5 col-md-4 control-label text-right">Do you hold a Special Category Visa (SCV)? </label>
			<div class="col-sm-6">
				<label class="radio-inline">
					<input id="scvVisaYes" type="radio" value="yes" name="scvVisa" ng-model="ctrl.applicant.citizenship.scvVisa" ng-value="true" ng-required="ctrl.showScvVisa()" /> Yes
				</label>
				<label class="radio-inline">
					<input id="scvVisaNo" type="radio" value="no" name="scvVisa" ng-model="ctrl.applicant.citizenship.scvVisa" ng-value="false" ng-required="ctrl.showScvVisa()" /> No
				</label>


				<div class="alert alert-info" role="alert" ng-show="ctrl.applicant.citizenship.scvVisa">
					<h4>You will be required to provide the below documents to support your eligibility:</h4>
					<ul>
						<li>evidence of Special Category Visa Subclass 444 AND</li>
						<li>evidence of residing in Australia for qualifying period such as international movement records from the Department of Immigration and Border Protection (DIBP). Please apply to DIBP to avoid any delay in processing your application.</li>
					</ul>
				</div>

				<div ng-messages="coursesForm.scvVisa.$error" ng-show="coursesForm.scvVisa.$invalid && coursesForm.scvVisa.$touched || ctrl.attemptedNext && coursesForm.scvVisa.$invalid" class="help-block">
					<div ng-message="required" class="error-msg">Please select an option.</div>
				</div>
			</div>
		</div>



		<div class="form-group row" ng-show="ctrl.showVisaStatus()">

			<label class="control-label col-sm-4 col-md-4">Visa Status*</label>
			<div class="col-sm-8 col-md-5">
				<!--<ui-select ng-model="ctrl.applicant.citizenship.visaStatus" ng-required="ctrl.showVisaStatus()" name="visaStatus">
                            <ui-select-match placeholder="Choose...">
                                <span ng-bind="$select.selected"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="status in ctrl.references.visaTypes">
                                <span ng-bind="status"></span>
                            </ui-select-choices>
                        </ui-select>-->
				<select id="citizenshipCountry" ng-model="ctrl.applicant.citizenship.visaStatus" ng-required="ctrl.showVisaStatus()" name="visaStatus" class="form-control">
					<option value="">Select an option…</option>
					<option ng-repeat="status in ctrl.references.visaTypes" value="{{status}}">{{status}}</option>
				</select>

				<div ng-messages="coursesForm.visaStatus.$error" ng-show="coursesForm.visaStatus.$invalid && coursesForm.visaStatus.$touched || ctrl.attemptedNext && coursesForm.visaStatus.$invalid" class="help-block">
					<div ng-message="required" class="error-msg">Please select your visa status.</div>
				</div>
			</div>
		</div>

		<div class="form-group row" ng-show="ctrl.showOtherVisa()">
			<label class="control-label col-sm-4 col-md-4">Visa Subcategory</label>
			<div class="col-sm-8 col-md-5">
				<input type='text' name="visaSubcategory" ng-model="ctrl.applicant.citizenship.otherVisa.subCategory" class="form-control" ng-required="ctrl.showOtherVisa()" />
				<div ng-messages="coursesForm.visaSubcategory.$error" ng-show="coursesForm.visaSubcategory.$invalid && coursesForm.visaSubcategory.$touched || ctrl.attemptedNext && coursesForm.visaSubcategory.$invalid" class="help-block">
					<div ng-message="required" class="error-msg">Required.</div>
				</div>
			</div>
		</div>
		<div class="form-group row" ng-show="ctrl.showOtherVisa()">
			<label class="control-label col-sm-4 col-md-4">Visa Expiry Date</label>
			<div class="col-sm-8 col-md-5">
				<input type='date' name="visaExpiry" ng-model="ctrl.applicant.citizenship.otherVisa.expiryDate" class="form-control" ng-required="ctrl.showOtherVisa()" />
				<div ng-messages="coursesForm.visaExpiry.$error" ng-show="coursesForm.visaExpiry.$invalid && coursesForm.visaExpiry.$touched || ctrl.attemptedNext && coursesForm.visaExpiry.$invalid" class="help-block">
					<div ng-message="required" class="error-msg">Required.</div>
				</div>
			</div>
		</div>

		<div class="form-group row" ng-show="ctrl.showOtherVisa()">
			<label class="col-sm-5 col-md-4 control-label">Are you allowed to stay and study in Australia? </label>
			<div class="col-sm-6">
				<div class="btn-group">
					<label class="btn btn-default radio-label-btn" name="allowedToStudy" ng-model="ctrl.applicant.citizenship.otherVisa.allowedToStudy" uib-btn-radio="true" ng-value="true" uncheckable ng-required="ctrl.showOtherVisa()">Yes</label>
					<label class="btn btn-default radio-label-btn" name="allowedToStudy" ng-model="ctrl.applicant.citizenship.otherVisa.allowedToStudy" uib-btn-radio="false" ng-value="false" uncheckable ng-required="ctrl.showOtherVisa()">No</label>
				</div>
				<div ng-messages="coursesForm.allowedToStudy.$error" ng-show="coursesForm.allowedToStudy.$invalid && coursesForm.allowedToStudy.$touched || ctrl.attemptedNext && coursesForm.allowedToStudy.$invalid" class="help-block">
					<div ng-message="required" class="error-msg">Required.</div>
				</div>
			</div>
		</div>

		<!-- STUDY REASON-->
		<div class="form-group row">
			<label for="studyReason" class="col-sm-4 col-md-4 control-label"> Study Reason* </label>
			<div class="col-sm-8 col-md-5">
				<!--<ui-select ng-model="ctrl.applicant.otherInfo.studyReason" ng-required="true" name="studyReason">
                            <ui-select-match placeholder="Choose...">
                                <span ng-bind="$select.selected"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="reason in ctrl.references.studyReason">
                                <span ng-bind="reason"></span>
                            </ui-select-choices>
                        </ui-select>-->
				<select id="citizenshipCountry" ng-model="ctrl.applicant.otherInfo.studyReason" ng-required="true" name="studyReason" class="form-control">
					<option value="">Select an option…</option>
					<option ng-repeat="reason in ctrl.references.studyReason" value="{{reason}}">{{reason}}</option>
				</select>

				<div ng-messages="coursesForm.studyReason.$error" ng-show="coursesForm.studyReason.$invalid && coursesForm.studyReason.$touched || ctrl.attemptedNext && coursesForm.studyReason.$invalid" class="help-block">
					<div ng-message="required" class="error-msg">Required.</div>
				</div>
				<!--
                        <select id="studyReason" ng-model="ctrl.applicant.otherInfo.studyReason" ng-required="true" name="studyReason" class="form-control">
                            <option value="">Select an option…</option>
                            <option ng-repeat="reason in ctrl.references.studyReason" value="{{reason}}">{{reason}}</option>
                        </select>-->

			</div>
		</div>


		<div class="form-group row" ng-show="ctrl.showOtherReason()">
			<!-- School name begins here-->
			<label for="otherStudyReason" class="col-sm-5 col-md-4 control-label">Please state other reason </label>
			<div class="col-sm-6 col-md-5">
				<textarea id="otherStudyReason" type="text" name="otherStudyReason" placeholder="State other reason" class="form-control" ng-model="ctrl.applicant.otherInfo.otherStudyReason" ng-required="ctrl.showOtherReason()"></textarea>
				<div ng-messages="coursesForm.otherStudyReason.$error" ng-show="coursesForm.otherStudyReason.$invalid && coursesForm.otherStudyReason.$touched || ctrl.attemptedNext && coursesForm.otherStudyReason.$invalid" class="help-block">
					<div ng-message="required" class="error-msg">Required.</div>
				</div>
			</div>

		</div>
	</div>
	<div id="vfh-section" class="panel" ng-show="ctrl.vfhEligible()">
		<div class="panel-header">
			<h4 class="panel-heading">Based on the information you've provided. You <em>may</em> be eligible to access VET FEE-HELP Loan.</h4>
		</div>
		<div class="panel-body">
			<div class="form-group row">
				<label class="col-sm-5 col-md-4 control-label">Do you intend to use VET FEE-HELP government assistance program for your course fees? </label>
				<div class="col-sm-6">
					<div class="btn-group">
						<label class="btn btn-default radio-label-btn" name="wantsToAccess" ng-model="ctrl.applicant.funding.vfh.wantsToAccess" uib-btn-radio="true" ng-value="true" uncheckable ng-required="ctrl.vfhEligible()">Yes</label>
						<label class="btn btn-default radio-label-btn" name="wantsToAccess" ng-model="ctrl.applicant.funding.vfh.wantsToAccess" uib-btn-radio="false" ng-value="false" uncheckable ng-required="ctrl.vfhEligible()">No</label>
					</div>
					<div class="info-block">
						<a href="http://studyassist.gov.au/sites/StudyAssist/helppayingmyfees/vet-fee-help/pages/vet-fee-help" target='_blank'><i class="icon ion-ios-help-outline"></i> What's VET FEE-HELP?</a>
					</div>
					<div ng-messages="coursesForm.wantsToAccess.$error" ng-show="coursesForm.wantsToAccess.$invalid && coursesForm.wantsToAccess.$touched || ctrl.attemptedNext && coursesForm.wantsToAccess.$invalid" class="help-block">
						<div ng-message="required" class="error-msg">Required.</div>
					</div>
				</div>
			</div>
			<div class="form-group row" ng-show="ctrl.accesingVfh()">
				<label class="col-sm-5 col-md-4 control-label">Have you participated in education or training with a Higher Education Provider (HEP) or Registered Training Provider prior to enrolling into this course? </label>
				<div class="col-sm-6">
					<div class="btn-group">
						<label class="btn btn-default radio-label-btn" name="hasRecentProvider" ng-model="ctrl.applicant.funding.vfh.hasRecentProvider" uib-btn-radio="true" ng-value="true" uncheckable ng-required="ctrl.accesingVfh()">Yes</label>
						<label class="btn btn-default radio-label-btn" name="hasRecentProvider" ng-model="ctrl.applicant.funding.vfh.hasRecentProvider" uib-btn-radio="false" ng-value="false" uncheckable ng-required="ctrl.accesingVfh()">No</label>
					</div>
					<div ng-messages="coursesForm.hasRecentProvider.$error" ng-show="coursesForm.hasRecentProvider.$invalid && coursesForm.hasRecentProvider.$touched || ctrl.attemptedNext && coursesForm.hasRecentProvider.$invalid" class="help-block">
						<div ng-message="required" class="error-msg">Required.</div>
					</div>
				</div>
			</div>

			<div class="form-group row" ng-show="ctrl.hasPriorTraining()">
				<!-- School name begins here-->
				<label for="recentProviderName" class="col-sm-5 col-md-4 control-label text-right">Please enter most recent Provider Name </label>
				<div class="col-sm-6 col-md-5">
					<input id="recentProviderName" type="text" name="recentProviderName" placeholder="Provider/RTO 's name" class="form-control" ng-model="ctrl.applicant.funding.vfh.recentProvider.name" ng-required="false" />
					<div ng-messages="ctrl.coursesForm.recentProviderName.$error" ng-show="ctrl.coursesForm.recentProviderName.$invalid && ctrl.coursesForm.recentProviderName.$touched" class="help-block">
						<div ng-message="required">Required.</div>
					</div>
				</div>
			</div>


			<!-- Level of Schooling ends here-->
			<div class="form-group row" ng-show="ctrl.hasPriorTraining()">
				<!-- Year last attended begins here-->
				<label for="recentProviderYear" class="col-sm-5 col-md-4 control-label text-right">Year last enrolled </label>
				<div class="col-sm-4 col-md-4">
					<div class="input-group">
						<i class="icon ion-ios-calendar input-group-addon"></i>
						<input id="recentProviderYear" type="text" name="recentProviderYear" maxlength="4" placeholder="Year last attended" class="form-control" ng-model="ctrl.applicant.funding.vfh.recentProvider.yearLastEnrolled" />
					</div>

					<div ng-messages="ctrl.coursesForm.recentProviderYear.$error" ng-show="ctrl.coursesForm.recentProviderYear.$invalid && ctrl.coursesForm.recentProviderYear.$touched" class="help-block">
						<div ng-message="regexValidate">Please enter a valid year.</div>
					</div>
				</div>
			</div>

			<div class="form-group row" ng-show="ctrl.hasPriorTraining()">
				<!-- School name begins here-->
				<label for="schoolName" class="col-sm-5 col-md-4 control-label text-right">Please enter your Student No</label>
				<div class="col-sm-6 col-md-5">
					<input id="recentProviderStudentNumber" type="text" name="recentProviderStudentNumber" placeholder="Student number..." class="form-control" ng-model="ctrl.applicant.funding.vfh.recentProvider.studentNumber" />
					<div ng-messages="ctrl.coursesForm.recentProviderStudentNumber.$error" ng-show="ctrl.coursesForm.recentProviderStudentNumber.$invalid && ctrl.coursesForm.recentProviderStudentNumber.$touched" class="help-block">
						<div ng-message="required">Required.</div>
					</div>
				</div>
			</div>

			<div class="form-group row" ng-show="ctrl.hasPriorTraining() && ctrl.accesingVfh()">
				<!-- School name begins here-->
				<label for="previouslyAccessedVfh" class="col-sm-5 col-md-4 control-label text-right">Have you accessed VET FEE-HELP previously? </label>
				<div class="col-sm-6 col-md-5">

					<div class="btn-group">
						<label class="btn btn-default radio-label-btn" name="previouslyAccessedVfh" ng-model="ctrl.applicant.funding.vfh.previouslyAccessedVfh" uib-btn-radio="true" ng-value="true" uncheckable ng-required="ctrl.hasPriorTraining() && ctrl.accesingVfh()">Yes</label>
						<label class="btn btn-default radio-label-btn" name="previouslyAccessedVfh" ng-model="ctrl.applicant.funding.vfh.previouslyAccessedVfh" uib-btn-radio="false" ng-value="false" uncheckable ng-required="ctrl.hasPriorTraining() && ctrl.accesingVfh()">No</label>
					</div>

					<div ng-messages="coursesForm.previouslyAccessedVfh.$error" ng-show="coursesForm.previouslyAccessedVfh.$invalid && coursesForm.previouslyAccessedVfh.$touched || ctrl.attemptedNext && coursesForm.previouslyAccessedVfh.$invalid" class="help-block">
						<div ng-message="required" class="error-msg">Required.</div>
					</div>
				</div>
			</div>

			<div class="form-group row" ng-show="ctrl.hasAccessedVfhBefore()">
				<!-- School name begins here-->
				<label for="schoolName" class="col-sm-5 col-md-4 control-label text-right">Enter <em>Commonwealth Higher Education Student Support Number (CHESSN) </em> - if known</label>
				<div class="col-sm-6 col-md-5">
					<input id="recentProviderStudentNumber" type="text" regex-validate validation-type="chessn" name="CHESSN" placeholder="CHESSN" class="form-control" ng-model="ctrl.applicant.funding.vfh.CHESSN" ng-required="false" />
					<!--
                            <div ng-messages="ctrl.coursesForm.CHESSN.$error" ng-show="ctrl.coursesForm.CHESSN.$invalid && ctrl.coursesForm.recentProviderStudentNumber.$touched" class="help-block">
                                <div ng-message="required">Required.</div>
                            </div>-->
				</div>
			</div>


		</div>
	</div>

	<div class="panel" ng-show="ctrl.vfhEligible()">
		<div class="panel-header">
			<h4 class="panel-heading">You may be eligible for VTG funding. <em>Please note: further criteria apply.</h4>
		</div>
	</div>

</ng-form>