@import "variables";
@import "components";
@import "mixins";
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    outline: none;
}

*:focus {
    outline: none;
}

html {
    font-size: 16px;
}

body {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

.icon-btn-huge {
    font-size: 3rem;
}